<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1> Mi listado de tareas</h1>
        </div>
        <hr>
        <div class="row">
            <form class="form-inline" method="POST" action="addTask">
                {% csrf_token %}
                <div class="form-group">
                    <label for="task">Agregar tarea:</label>
                    <input class="form-control" type="text" name="task" />
                </div>
                <input class="btn btn-primary" type="submit" value="Submit" />
            </form>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                {% if todo_list %}
                <h2>Tareas por hacer</h2>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Tarea</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                            <th>Completar</th>
                        </tr>
                    </thead>
                    <tbody>{% for task in todo_list %}
                        <tr>
                            <td>
                                {{task.name}}
                            </td>
                            <td>
                                <button class="btn btn-default editButton" data-id="{{task.id}}">Editar</button>
                            </td>
                            <td>
                                <a href="{% url 'deleteTask' task.id %}">Eliminar</a>
                            </td>
                            <td>
                                <a href="{% url 'completeTask' task.id %}">Completar</a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>
                {% else %}
                <hr>
                <h4>No existen tareas :)</h4>

                {% endif %}
            </div>
            <div class="col-md-6">
                <h2>Tareas completadas</h2>
                {% if completed_tasks %}
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Tarea</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in completed_tasks %}
                        <tr>
                            <td><strike>{{task.name}}</strike></td>
                            <td>
                                <a href="{% url 'deleteTask' task.id %}">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>
                {% else %}
                <hr>
                <h4>No existen tareas completadas :C</h4>

                {% endif %}
            </div>

        </div>
        <form method="POST" action="editTask" id="editForm" hidden>
            {% csrf_token %}
            <input type="hidden" name="task_id" id="task_id" />
            <input type="text" name="new_name" />
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-default cancelar">Cancelar</button>
        </form>

        <h4> *Desarrollado por team Flash Gordon*</label>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var form = $("#editForm");
            $(".editButton").click(function() {
                $("td > button").show();
                $(this).hide();
                var id = $(this).data('id');
                var parent = $(this).parent();
                $("#task_id").val(id);
                parent.append(form);
                form.show();
            });

            $(".cancelar").click(function() {
                $("td > button").show();
                form.hide();
            });
        });
    </script>
    {% if add_status is not None and not add_status %}
    <script>
        alert("Tarea ya existente: '{{task_name}}'")
    </script>
    {% endif %}
</body>

</html>
